

.card-title{
    font-size:large;
    font-weight:bold;
    color:white;
}


.bold-text{
    font-weight:bold;
}

.small-text{
  font-size:small;
}


.balance-text{
    font-size:medium;
    font-weight:bold;
    color:dimgray;
}
