

.package-title {
  font-size: large;
  font-weight: bold;
  color: dimgray;
}

.register-title{
    font-size:large;
    font-weight:bold;
    color:dimgray;
}

.acc-type-title {
  font-size: large;
  font-weight: bold;
  color: white;
}

.feature-title{
    font-size:x-small;
    font-weight:bold;
    color:dimgray;
}

.price-title {
  font-size: small;
  font-weight: bold;
  color: dimgray;
}


.terms{
    font-weight:bold;
    text-decoration:underline;
}

.terms:hover {
  font-weight: bold;
  text-decoration: none;
}
