

.dash-form-label{
    font-size:small;
    font-weight:bold;
    color:whitesmoke;
}


.trades-title {
  border-left: solid;
  border-left-color: whitesmoke;
  border-left-width: thin;
  font-size: medium;
  font-weight: bold;
  color: whitesmoke;
}


.eraning-title-text {
  font-size: small;
  font-weight: bold;
  color: whitesmoke;
}


.tools-backgraound {
  background-color: #4B515D;
  padding-top:5px;
  padding-bottom:8px;
}


.earning-text {
  font-size: larger;
  font-weight: bold;
  color: cornflowerblue;
}
