<form [formGroup]="betGroup">
  <div class="row tools-backgraound ">
    <div class="col-4">
      <div class="row">
        <div class="col-6">
          <label class="dash-form-label float-right">Currency</label>
        </div>
        <div class="col-6">
          <select class="browser-default custom-select" (change)="currencyChaged($event.target.value)" formControlName="currency" [class.disabled]="disableTadeUi">
            <option [value]="itm.stockId" *ngFor="let itm of stockTypes">{{ itm.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-6">
          <label class="dash-form-label float-right">Period</label>
        </div>
        <div class="col-6">
          <select class="browser-default custom-select" fromControlName="period" [class.disabled]="disableTadeUi">
            <option value="1">2 Min</option>
            <option value="1">5 Min</option>
            <option value="1">15 Min</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-2"></div>

    <div class="col-2 trades-title">
      <span class="float-right">Trades</span>
    </div>
  </div>


  <div class="row ">
    <div class="col-10">
      <div style="display: block">
        <canvas mdbChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="col-2 tools-backgraound">
      <!-- amount -->
      <div class="row">
        <div class="col-12">
          <label class="dash-form-label">Amount (<span class="text-info" style="font-size:x-small;">{{ userBalance | currency }}</span>)</label>
          <input type="number" class="form-control" formControlName="amount"  mdbInput [class.disabled]="disableTadeUi" />
        </div>
      </div>
      <div class="row" style="height:20px;"></div>

      <!-- Earnings -->
      <div class="row">
        <div class="col-12">
          <span class="eraning-title-text">Potential Earnings</span><br/>
          <span class="earning-text float-right">{{ potentialEarning | currency }}</span>
        </div>
      </div>
      <div class="row" style="height:15px;"></div>
      <!-- percentage -->
      <div class="row">
        <div class="col-12">
          <span class="eraning-title-text">Payout Rate</span><br />
          <span class="earning-text float-right">{{ (earningRate*100) }}%</span>
        </div>
      </div>
      <div class="row" style="height:20px;"></div>
      <!-- Bid Buttons -->
      <div class="row">
        <div class="col-12">
          <button (click)="makeHighTrade()" mdbBtn type="button" color="success" mdbWavesEffect [class.disabled]="disableTadeUi"><mdb-icon fas icon="chevron-up" size="lg"></mdb-icon> HIGH</button>
          <button (click)="makeLowTrade()" mdbBtn type="button" color="danger" mdbWavesEffect [class.disabled]="disableTadeUi">LOW <mdb-icon fas icon="chevron-down" size="lg"></mdb-icon></button>
        </div>
      </div>

    </div>
  </div>
</form>
