

.dash-item-container{
    margin:20px 20px 20px 20px;
}


.dash-item-title{
    font-size:large;
    font-weight:bold;
    color:white;
}


.dash-item-edit-links {
  font-size: medium;
  font-weight: bold;
  color: white;
}

.dash-item-edit-links:hover {
  font-size: medium;
  font-weight: bold;
  color: red;
}
