

.dash-item-container{
    margin:20px 20px 20px 20px;
}


.dash-item-title{
    font-size:large;
    font-weight:bold;
    color:white;
}


.dash-item-edit-links {
  font-size: medium;
  font-weight: bold;
  color: white;
}

.dash-item-edit-links:hover {
  font-size: medium;
  font-weight: bold;
  color: red;
}


.dash-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 5px 5px 8px 5px #888888;
}

.dash-body {
  background-color: white;
}


.dash-header {
  background-color: #4B515D;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 35px;
  padding-top: 10px;
  padding-bottom: 6px;
}
